<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shijingfeng.library">

    <application>
        <!--
         android:exported  是否支持其它应用调用当前组件   false: 不支持  true: 支持
         -->
        <provider
            android:name="com.shijingfeng.area_chooser.content_provider.AreaChooserProvider"
            android:authorities="${applicationId}.area_chooser_content_provider"
            android:exported="false" />
    </application>

</manifest>
